<div>
  <p>
    Number of Books: {{ books().length }}
  </p>
</div>

<!--<div>  &lt;!&ndash; Lösung 1 &ndash;&gt;-->
<!--  {{ currentDate1() | date: 'medium' }}-->
<!--</div>-->
<!--<div> &lt;!&ndash; Lösung 2 &ndash;&gt;-->
<!--  {{ currentDate2() | date: 'medium' }}-->
<!--</div>-->

<!--<div> &lt;!&ndash; Lösung 3 &ndash;&gt;-->
<!--  {{ currentDate3() | date: 'medium' }}-->
<!--</div>-->

<!--<div> &lt;!&ndash; Lösung 4 &ndash;&gt;-->
<!--  {{ currentDate4() | date: 'medium' }}-->
<!--</div>-->

<!--<div> &lt;!&ndash; Lösung 5 &ndash;&gt;-->
<!--  {{ currentDate5 | async | date: 'medium' }}-->
<!--</div>-->

<div class=""></div>
@for (b of books(); track b.isbn) {
  <app-book
    [book]="b"
    [minRating]="1"
    [maxRating]="5"
    (rateUp)="doRateUp($event)"
    (rateDown)="doRateDown($event)"
    (delete)="doDelete($event)"
  ></app-book>
}
