<div>
  <p>
    Number of Books: {{ books().length }}
  </p>
</div>

<div>  <!-- Lösung 1 -->
  {{ currentDate1() | date: 'medium' }}
</div>
<div> <!-- Lösung 2 -->
  {{ currentDate2() | date: 'medium' }}
</div>

<div> <!-- Lösung 3 -->
  {{ currentDate3() | date: 'medium' }}
</div>

<div> <!-- Lösung 4 -->
  {{ currentDate4() | date: 'medium' }}
</div>

<div> <!-- Lösung 5 -->
  {{ currentDate5 | async | date: 'medium' }}
</div>

<div class=""></div>
@for (b of books(); track b.isbn) {
  <app-book
    [book]="b"
    [minRating]="1"
    [maxRating]="5"
    (rateUp)="doRateUp($event)"
    (rateDown)="doRateDown($event)"
    (delete)="doDelete($event)"
  ></app-book>
}
