@let controls = bookForm.controls;

<form [formGroup]="bookForm">
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input [formControl]="controls.isbn" type="text" id="isbnInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input [formControl]="controls.title" type="text" id="titleInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="descriptionInput">Beschreibung</label>
    <input [formControl]="controls.description" type="text" id="descriptionInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="ratingInput">Bewertung</label>
    <input [formControl]="controls.rating" type="text" id="ratingInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="priceInput">Preis</label>
    <input [formControl]="controls.price" type="text" id="priceInput" class="form-control">
  </div>

  <button type="submit" class="btn btn-green">Abschicken</button>
</form>
